/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @font-face {
       font-family: shoryuken;
       src: url(Shoryuken.ttf);
   }

body{
  overflow:hidden;
  height:100vh;
  background-image:url("../img/decors.gif");
  background-size:cover;
}

.progress{
  height:40px;
  border:5px double white;
  width:45%;
}

.progress_bar{
  background-color:yellow;
  transition:1s ease 2.5s;
}

.versus{
  width:50px;
  position:absolute;
  top:48px;
}

.interface_container{
  margin-top:20%;
}
.choice_rock img, .choice_paper img, .choice_scissors img{
  width:75px;
  border-radius: 100%;
}

#result_battle{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  background:transparent;
  font-size:25px;
  margin-top:-40px;
}
#restart{
  position:absolute;
  left:37.5%;
  border:4px double black;
}

#draw{
  position:absolute;
  left:42.5%;
}

#image1,
#image2,
#image3{
  cursor:pointer;
  transition:all 0.3s;
}

#image1:hover,
#image2:hover,
#image3:hover{
  border:4px dashed black;
}

#pc_rock, #pc_paper, #pc_scissors{
  width:75px;
}

.computer{
  margin-top:-35px;
}

.pseudo{
  width:100%;
  height:100vh;
  background-image:url('../img/background_pseudo.jpg');
  background-size:cover;
  position:absolute;
  top:0;
}

.p_pseudo{
  color:white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-size:55px;
  font-family:shoryuken;
}

.input_pseudo{
  border-radius:0;
  height:70px;
  font-family:shoryuken;
  font-size:50px;
  color:white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  background:transparent;
}

.btn_start{
  height:40px;
}

.score_style{
  font-size:50px;
  font-weight:bold;
  font-family: shoryuken;
}

.colour_name{
  background:-webkit-linear-gradient(#ffff00, #ff4500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 4px 4px midnightblue; */
}

.left_name{
  margin-left:30px;
}
.right_name{
  margin-right:15px;
}

/* .colour_name {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff00), color-stop(100%, #ff4500));
	background-image: -webkit-linear-gradient(#ffff00,#ff4500);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
	position: relative;
	text-shadow: none;
}
.colour_name:before {
	background: none;
	content: attr(data-text);
  top: 0;
  left: 0;
	position: absolute;
	text-shadow: 40px 40px midnightblue;
	z-index: -1;
} */

.player, .computer{
  position:relative;
}

.player img{
  height:230px;
}
.ken_stand{
  height:270px;
  transform:rotateY(180deg);
}
.computer{
  right:0;
}

.bg_middle{
  background-image:url("../img/bg_middle.gif");
  background-size: cover;

}

#player_move,
#computer_move,
#player_stand,
#ryu_hit,
#computer_stand,
#ken_hit,
#ryu_lose,
#ken_lose{
  position:absolute;
}

#ryu_hit{
  height:400px;
  top:-100px;
  left:-90px;
}

#ken_hit{
  transform:rotateY(180deg);
  left:20px;
}
#player_move, #player_stand{
  left: 50px;
}

#computer_stand, #computer_move{
  right:-275px;
}

#computer_move{
  transform:rotateY(180deg);
  top:25px;
}

#ken_lose{
  height:240px;
  top:30px;
  transform:rotateY(180deg);
  left:-40px;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
